article {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .subbreed{
    max-width: 50rem;
    &__image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__image {
      max-width: 25rem;
      max-height: 25rem;
      flex: 1;
      object-fit: cover;
    }
  }
}
